:root {
  --main-rust: rgb(147, 58, 22);
}

body {
  font-family: 'Spectral', serif;
  z-index: -1;
  /*may have to go in and trim some height off of the background image*/
  background-image: url("ave_bass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}

.navlink {
  position:relative;
  display: block;
  top: -100px;
  display: hidden;
}

/*START NAVBAR*/
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 0 5vw 0 5vw;
  color: white;
  background-color: black;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  justify-content: space-around;
  z-index: 1;
}

#title-container {
  float: left;
  width: 45vw;
}

li {
  color: white;
}

nav {
  float: right;
  width: 50vw;
  line-height: 55px;

}

nav ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-right: 5vw;
  margin-top: 19px;
}

nav a {
  color: white;
  text-decoration: none;
}

/*START WELCOME PAGE*/
#welcome-section {
  margin-top: 40vh;
  height: 80vh;
  text-align: center;
  color: var(--main-rust);
}

/*END WELCOME PAGE*/

/*START ABOUT/PROJECT SECTIONS*/
.page-container {
  position: relative;
  margin: 5vh 10vw 10vh 10vw;
  padding: 1vh 2vw 5vh 2vw;
  /*border-radius: 25px;*/
  background: rgba(255, 255, 255, 0.6);
}

.page-container h2 {
  line-height: 1;
  color: var(--main-rust);
}

.page-container a {
  color: black;
}

p {
  font-family: 'Rubik', sans-serif;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9vw, 35vw));
  grid-gap: 2vw;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.project-tile {
  /*border-radius: 7px;*/
  border-style: solid;
  border-width: 1px;
  border-color: #696969;
  background: darkgray;
  text-align: center;
  margin: 1vh 1vw 1vh 1vw;
  transition: transform 0.3s ease-out;
}

.project-tile a {
  text-decoration: none;
}

.project-tile:hover{
  transform: translateY(3px);
}

.project-image {
  height: calc(100% - 3.6rem);
  width: 100%;
  object-fit: cover;
  filter: grayscale(90%);
}

/*END ABOUT/PROJECT SECTION*/

/*START CONTACT SECTION*/
#contact {
  position: absolute;
  width: 100%;
  padding: 1vh 2vw 1vh 2vw;
  left: 0;
  color: white;
  background-color: black;
}

#contact h2 {
  float: left;
  width: 40vw;
  padding-left: 2.5vw;
}

#contact a {
  color: white;
  text-decoration: none;
}

.contact-links ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-right: 5vw;
  margin-top: 24px;
  align-items: center;
  vertical-align: middle;
  flex-wrap: wrap;
}
