:root {
  --main-rust: rgb(147, 58, 22);
}

body {
  font-family: 'Spectral', serif;
  z-index: -1;
  /*may have to go in and trim some height off of the background image*/
  background-image: url("images/ave_bass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}

button {
  background: none;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  color: white;
}

button:hover {
  background: none;
  box-shadow: 0px 0px 0px transparent;
  border: 0px none transparent;
  text-shadow: 0px 0px 0px transparent;
  color: white;
}

.mobile {
  display: none;
}

/*START NAVBAR*/
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  color: white;
  background-color: black;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  justify-content: space-around;
  z-index: 1;
}

#close_icon {
  display: none;
}

#title-container {
  float: left;
  width: 40vw;
  padding-left: 5vw;
}

.navlink {
  position:relative;
  display: block;
  top: -100px;
  display: hidden;
}

nav {
  float: right;
  width: 50vw;
  line-height: 55px;

}

nav a {
  float: left;
  line-height: 90px;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 16vw;
}

nav a:hover {
  color: lightgray;
}

/*START WELCOME PAGE*/
#welcome-section {
  margin-top: 40vh;
  height: calc(100vh - 90px);
  text-align: center;
  color: var(--main-rust);
}

/*END WELCOME PAGE*/

/*START ABOUT/PROJECT SECTIONS*/
.page-container {
  position: relative;
  margin: 0 10vw 10vh 10vw;
  padding: 1vh 2vw 5vh 2vw;
  /*border-radius: 25px;*/
  background: rgba(255, 255, 255, 0.6);
}

.page-container h2 {
  line-height: 1;
  color: var(--main-rust);
}

.page-container a {
  color: black;
}

p {
  font-family: 'Rubik', sans-serif;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9vw, 35vw));
  grid-gap: 2vw;
  width: 100%;
  max-width: 1280px;
  justify-content: center;
  align-content: center;
}

.project-tile {
  /*border-radius: 7px;*/
  max-height: 25vh;
  max-width: 35vh;
  min-width: 300px;
  margin: 1vh auto;
  border-style: solid;
  border-width: 1px;
  border-color: #696969;
  background: darkgray;
  text-align: center;
  transition: transform 0.3s ease-out;
}

.project-tile a {
  text-decoration: none;
}

.project-tile p {
  padding: none;
  margin: none;
}

.project-tile:hover{
  transform: translateY(3px);
}

.project-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(90%);
}

.project-image-container {
  height: calc(100% - 2.9em);
}

/*START OF MOBILE RESPONSE*/
@media screen and (max-width: 824px){
  .project-tile{
    max-height:100%;
    max-width: 100%;
    min-width: 0px;
    width: 100%;
  }

  .project-image {
    display: none;
  }

  .project-image-container {
    display: none;
  }
}

/*END ABOUT/PROJECT SECTION*/

/*START CONTACT SECTION*/
#contact {
  position: absolute;
  width: 100%;
  padding: 1vh 2vw 1vh 2vw;
  left: 0;
  color: white;
  background-color: black;
}

#contact h2 {
  float: left;
  width: 40vw;
  padding-left: 2.5vw;
}

#contact a {
  color: white;
  text-decoration: none;
}

#contact a:hover {
  color: lightgray;
}

.contact-links ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-right: 5vw;
  margin-top: 24px;
  align-items: center;
  vertical-align: middle;
  flex-wrap: wrap;
}

@media screen and (max-width: 500px){
  body{

  }

  .mobile{
    display: block;
  }

  .widescreen {
    display: none;
  }

  .icon {
    position: fixed;
    left: 10px;
    top: 5px;
    font-size: 25px;
  }

  #close_icon {
    color: black;
    z-index: 5;
  }

  header {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: black;
    opacity: .9;
    z-index: 3;
    overflow-x: hidden;
  }

  #mobile_nav_content {
    top: 25vh;
    margin-top: 100px;
  }

  nav a {
    position: relative;
    width: 100%;
    margin-top: 5vh;
    text-align: center;
    border-style: none;
    color: black;
    font-size: 25px;
  }

  nav a:hover {
    background-color: white;
    border-style: white;
  }

  nav a:active {
    background-color: white;
    border-style: white;
  }
}
