:root {
  --main-rust: rgb(147, 58, 22);
}

body {
  font-family: 'Spectral', serif;
  z-index: -1;
  /*may have to go in and trim some height off of the background image*/
  background-image: url("images/ave_bass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  margin: 0;
}

button {
  background: none;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  color: white;
}

button:hover {
  background: none;
  box-shadow: 0px 0px 0px transparent;
  border: 0px none transparent;
  text-shadow: 0px 0px 0px transparent;
  color: white;
}

.mobile {
  display: none;
}

.widescreen {
  display: block;
}

/*START NAVBAR*/
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  color: white;
  background-color: black;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  justify-content: space-around;
  z-index: 1;
}

#close_icon {
  display: none;
}

#title-container {
  float: left;
  width: 40vw;
  padding-left: 5vw;
}

#title-container h1{
  line-height: 40px;
  margin: 10px;
}

.navlink {
  position:relative;
  display: block;
  top: -100px;
  display: hidden;
}

nav {
  float: right;
  width: 50vw;
  line-height: 25px;

}

nav a {
  float: left;
  line-height: 60px;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 16vw;
}

nav a:hover {
  color: lightgray;
}

/*START WELCOME PAGE*/
#welcome-section {
  margin-top: 40vh;
  height: calc(100vh - 90px);
  text-align: center;
  color: var(--main-rust);
}

/*END WELCOME PAGE*/

/*START ABOUT/PROJECT SECTIONS*/
.fade {
  opacity: 0;
}

.content-container {
  position: relative;
  margin: 0 10vw 30vh 10vw;
  padding: 1vh 2vw 5vh 2vw;
  /*border-radius: 25px;*/
  background: rgba(255, 255, 255, 0.6);
  /*fade in*/
  -webkit-transform: translateY(50px) rotate(0deg) translateZ(0);
  transform: translateY(50px) rotate(0deg) translateZ(0);
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
  -webkit-transition: 1.2s;
  -o-transition: 1.2s;
  transition: 3s;
  opacity: 0;
}

.inView {
  opacity: 1;
  -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
  transform: translateY(0px) rotate(0deg) translateZ(0);
}

.content-container h2 {
  line-height: 1;
  color: var(--main-rust);
}

.content-container a {
  color: black;
}

.content-container p {
  margin: 4vh 5vw 4vh 5vw;
}

p {
  font-family: 'Rubik', sans-serif;
  line-height: 2;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2vw, 20vw));
  grid-gap: 2vw;
  justify-content: center;
  align-content: center;
}

.project-tile {
  /*border-radius: 7px;*/
  height: 35vh;
  max-width: 30vw;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #696969;
  color: white;
  background: black;
  opacity: .9;
  text-align: center;
  transition: transform 0.3s ease-out;
}

.project-tile a {
  text-decoration: none;
  color: white;
}

.project-tile p {
  padding: 0;
  margin: 0;
  line-height: 3.3em;
}

.project-tile:hover{
  transform: translateY(3px);
}

.project-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(70%);
}

.project-image-container {
  height: calc(100% - 3.3em);
}
/*END ABOUT/PROJECT SECTION*/

/*START CONTACT SECTION*/
#contact {
  display: flex;
  
  padding: 1vh 2vw 1vh 2vw;
  left: 0;
  color: white;
  background-color: black;
}

#contact h2 {
  float: left;
  width: 40vw;
  padding-left: 2.5vw;
}

.contact-links ul {
  width: 60vw;
  float: right;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-right: 5vw;
  margin-top: 24px;
  align-items: center;
  vertical-align: middle;
  flex-wrap: wrap;
}

#contact a {
  color: white;
  text-decoration: none;
  width: 20vw;
}

#contact a:hover {
  color: lightgray;
}

/*START OF MOBILE RESPONSE*/
@media screen and (max-width: 824px){
  .projects-grid{
    display: block;
    align-items: center;
  }

  .project-tile{
    height: auto;
    padding: 2vw 2vh;
  }

  .project-tile p {
    line-height: 1;
  }

  .project-image {
    display: none;
  }

  .project-image-container {
    display: none;
  }
}

@media screen and (max-width: 500px){

  .mobile{
    display: block;
  }

  .widescreen {
    display: none;
  }

  .icon {
    position: fixed;
    left: 10px;
    top: 5px;
    font-size: 25px;
  }

  #close_icon {
    color: black;
    z-index: 5;
  }

  header {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: black;
    opacity: .9;
    z-index: 3;
    overflow-x: hidden;
  }

  #mobile_nav_content {
    top: 25vh;
    margin-top: 100px;
  }

  nav a {
    position: relative;
    width: 100vw;
    margin-top: 5vh;
    text-align: center;
    border-style: none;
    color: black;
    font-size: 25px;
  }

  nav a:hover {
    background-color: white;
    border-style: white;
  }

  nav a:active {
    background-color: white;
    border-style: white;
  }

  #contact {
    position: relative;
    display: block;
    width: calc(96vw);
    overflow: hidden;
  }

  #contact h2 {
    position: relative;
    display: block;
    float: none;
    width: auto;
    margin: 0;
  }

  .contact-links ul {
    float: none;
    display: block;
    width: auto;
  }

  #contact a {
    float: none;
    width: auto;
  }
}
